.jumbotron1 {
  text-align: center;
  background-size: 100%;
  background-image: url(https://www.mediafire.com/convkey/5c94/xbvyidv5z7zhnlm4g.jpg);
}
.text1 {
  -webkit-text-stroke: 0.5px white;
}
.text2 {
  -webkit-text-stroke: 0.5px white;
}
.text3 {
    font-style: sans;
    color: white;
}
